@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#confetti {
	z-index: 300 !important;
	position: absolute !important;
}

.notyf__dismiss {
	padding-right: 40px !important;
	background-color: transparent !important;
}
.notyf__wrapper {
	padding: 8px 0px !important;
}
.notyf__dismiss-btn {
	opacity: 20% !important;
}
